.header{
    text-align: center;
    padding: auto;
    text-align: center;
    height: auto;

}

.icon{

    height: 50px;
    width: auto;
    margin: 20px;
}

.gif{
    height: auto;
    width: 50%;
}