

.navbrand{
    color:  var(--primary);
    text-decoration: none;
}


.navbar{
    padding: 1rem 0;
    position: sticky;
}

.navbar a {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    font-size: 25px;
    font-weight:lighter;
    color: black !important;
    font-family: 'MADE Dillan';
    opacity: 1.0;
}

.navbar a:not(:last-child){
    border-right: 2px solid black;
}

.navbar a:hover{
    color: var(--primary) !important;
}


#contact{
    border-radius: 25px;
    color: white !important;
    background-color: var(--primary);
    width: 8em;
    text-align: center;
    margin-left: 10px;
}

#contact:hover{
    background-color: white;
    border: 1px solid var(--primary);
    height: 3rem !important;
    color: black !important;
}