.featureprojects {
  border-right: 2px solid black;
}

.project2 {
  margin-left: 1rem;
}

.mobilecard {
  max-width: 20rem !important;
}


.wrapper-writer {
  display: inline-block;
  width: 20px;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .project2 {
    margin-top: 1rem;
    margin-left: 0px;
  }

  .featureprojects {
    border-right: none !important;
  }
}

