@import "var.scss";
@import "components.scss";


// Global Settings

body{
    margin: 0px;
}

h1, h2, h3, h4, h5, h6{
    font-family:'MADE Dillan';
}

p, li{
    font-family: 'Space Text';
    font-weight: 100 !important;
    color: rgb(82, 81, 81);
}

.green{
    color: $primary-color;
}

section{
    padding-top: 5rem;
}

.btn-green{
    color: white;
    background-color: $primary-color;
    border-radius: 30px;
    font-family: 'MADE Dillan';
}

.btn-green:hover{
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
}



// Navbar Settings

.navbar-brand h2{
    color: $primary-color;
}

.navbar{
    padding-top: 2rem;
    position: sticky;
}

.navbar-nav.navbar-center {
    position: relative;
    left: 55%;
    transform: translatex(-50%);
}

.nav-item{
    padding-right: 2.5rem;
    padding-left: 2.5rem;

}

.nav-item:not(:last-child){
    border-right: 2px solid black;
}

.nav-item .nav-link{
    font-size: 22px;
    font-weight:lighter;
    color: black;
    font-family: 'MADE Dillan';
    opacity: 1.0;
    
}

.nav-link:hover{
    color: $primary-color !important;
}

#contact{
    border-radius: 25px;
    color: white;
    background-color: $primary-color;
    width: 8em;
    text-align: center;
}

#contact:hover{
    background-color: white;
    border: 1px solid $primary-color;
    height: 3rem !important;
}

// Navbar settings for mobile

@media only screen and (max-width: 600px) {
    .nav-item{
        border: none !important;
    }
    .navbar-nav.navbar-center {
       position: relative;
    }
    .nav-item{
    padding-right: 0%;
    padding-left: 0%;
   }

   .nav-item .nav-link{
    font-size: 18px ;
   }

   #contact{
    width: 10em;
    padding-right: 1rem !important;
}
}




// Footer 
footer{
    min-height: 290px;
    margin: 5rem 0% 0% 0% !important;
    background-color: $primary-color;
  }

.hire-me-arrow{

    font-stretch: expanded;
    vertical-align: middle;

    letter-spacing: 20px;

}

.hire-me{
    background-color: black !important;
    color: white;
    padding: 0.5rem;
}

#hire-me-btn{
    height: 45px;
    width: 250px;
}

.footer-second, .footer-second a{
    color: white !important;
    text-align: center;
}

.footer-brand{
    
    padding-top: 35px;
}

.footer-brand a h2{
    font-size: 50px;
}

.ul-list{
    padding-top: 5px;
}

.ul-list li{
    color:  white !important;
}


// Container

.green-container-left{
    height: auto;
    background-color: $primary-color;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 30px;
    padding-top: 5%;
    padding-bottom: 8%;
    text-align: center;
    color: white;
}

.green-container-left h2::after{
    content:"";
    display:block;
    width: 3em;
    max-width:30%;
    border-bottom:2px solid white;
    margin: 0.3em auto 0;
}


.white-container{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
}

.white-container h2::after{
    content:"";
    display:block;
    width: 3em;
    max-width:30%;
    border-bottom:2px solid $primary-color;
    margin: 0.3em auto 0;
}

.social-media-global a{
    color: black;
    padding: 1rem;

}

.social-media-global a i:hover{
    transform: translateY(-10px);
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);

  }


.show-section{
    transition: transform 1.5s, opacity 1s;
}
// section {
//     transition: transform 1.5s, opacity 1s;
//   }


.social-media-global{
    text-align: right  ;
}

@media only screen and (max-width: 767px) {
    .social-media-global{
        text-align:center;
        margin: 0%;
    }
    .social-media-global a:not(:first-child){
        color: black;
        padding: 1rem;
    
    }

}

.global-header{
    border-bottom: 1px solid black;
}

.global-sub-heading{
    padding-top: 15px;
}

.green-container-right{
    height: auto;
    background-color: $primary-color;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 30px;
    padding-top: 5%;
    padding-bottom: 8%;
    text-align: center;
    color: white;
}

.green-container-right h2::after{
    content:"";
    display:block;
    width: 3em;
    max-width:30%;
    border-bottom:2px solid white;
    margin: 0.3em auto 0;
}

.navbar-shrink{
    height: 100px !important;
    top: 0; /* At the top */
    z-index: 100;
    background-color: black;
    color: white !important;
    transition: z-index 2s, height 2s;
}

