// Fonts

@font-face {
    font-family: 'MADE Dillan';
    src: url('/src/scss/fonts/made-dillan.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Space Text';
    src: url('/src/scss/fonts/SpaceText-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}