@import "var.scss";
@import "components.scss";

// Global Settings



h1, h2, h3, h4 {
    font-family:'MADE Dillan';
}

p {
    font-family: 'Space Text';
    font-weight: 100 !important;
    color: rgb(82, 81, 81);
}

.green{
    color: $primary-color;
}

section{
    padding-top: 5rem;
}

.btn-green{
    color: white;
    background-color: $primary-color;
    border-radius: 30px;
}

.btn-green:hover{
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
}



.hire-me{
    background-color: black !important;
    color: white;

}
// Navbar Settings

.navbar-brand h2{
    color: $primary-color;
}

.navbar{
    padding-top: 2rem;
}

.navbar-nav.navbar-center {
    position: relative;
    left: 55%;
    transform: translatex(-50%);
}

.nav-item{
    padding-right: 2.5rem;
    padding-left: 2.5rem;

}

.nav-item:not(:last-child){
    border-right: 2px solid black;
}

.nav-item .nav-link{
    font-size: 22px;
    font-weight:lighter;
    color: black;
    font-family: 'MADE Dillan';
    opacity: 1.0;
    
}

.nav-link:hover{
    color: $primary-color !important;
}

#contact{
    border-radius: 25px;
    color: white;
    background-color: $primary-color;
    width: 8em;
    text-align: center;
}

#contact:hover{
    background-color: white;
    border: 1px solid $primary-color;
    height: 3rem !important;
}

// Navbar settings for mobile

@media only screen and (max-width: 600px) {
    .nav-item{
        border: none !important;
    }
    .navbar-nav.navbar-center {
       position: relative;
    }
    .nav-item{
    padding-right: 0%;
    padding-left: 0%;
   }

   .nav-item .nav-link{
    font-size: 18px ;
   }

   #contact{
    width: 10em;
    padding-right: 1rem !important;
}
}

// Header Settings

#header{

    padding-top: 3%;
}

.green-container-left{
    height: 80vh;
    background-color: $primary-color;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.white-container{
    text-align: center;
    padding-top: 10%;
}

.heading h1{
    font-size: 3.5rem !important;

}

.sub-heading{
    padding-top: 2%;
    font-size: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.learn-more{
    font-weight: 600;
}

.division{
    background-color: black;
    margin-top: 10%;
    width: 80%;
}

.social-media a{
    color: black;
    padding: 1.5rem;

}

// Header Responsive


@media only screen and (max-width: 600px) {

    #header{
        padding-top: 10% !important;
    }
    .green-container-left{
        border-radius: 0%;
        height: 50vh;
    }

    .heading h1{
        font-size: 2rem !important; 
    
    }

    .sub-heading{
        padding-top: 2%;
        font-size: 18px;
        padding-left: 0%;
        padding-right: 0%;
    }

    .social-media a{
        margin-right:0%;
        padding: 5px;
    
    }
}

// feature projects settings

.feature-projects{
   border-right: 2px solid black;
}


.project-2{
    margin-left: 2rem !important;
}

@media only screen and (max-width: 600px) {
    .project-2{
        margin-top: 1rem;
    }
}

// Footer 
footer{
    position: relative;
    bottom: 0%;
    padding-bottom: 0px;
  
    flex-shrink: 0;
    margin: 5rem 0% 0% 0% !important;
    background-color: $primary-color !important;
  }